@import "../styles/constants.css";
.navbar {
  background-color: rgba(255, 255, 255, 0);
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  margin-right: 50px;
  z-index: 0;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}
.menu a {
  color: var(--color-primary);
  text-decoration: none;
  margin: 10px;
  font-weight: 600;
}
a {
  color: var(--color-primary);
  text-decoration: none;
  margin: 10px;
  font-weight: 600;
}
.logo {
  height: 50px;
}
button {
  border: 0px;
  color: var(--color-primary);
  font-weight: 600;
}
button:disabled {
  color: black;
  font-weight: 600;
}
