form {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  /* border-radius: 20px; */
  border-color: black;
  padding: 20px;
  background-color: white;
  color: ligth-dark(rgba(0, 0, 0, 0.87), white);
}
label {
  color: rgba(0, 0, 0, 0.87);
}
