.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 3px;
  border-color: var(--color-primary);
  border-radius: 20px;
  width: 200px;
}
.including {
  margin: 2px 2px 2px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 0.5;
  font-weight: 400;
}
.including p {
  margin: 5px;
}
